HTML {
	margin: 0;
	padding: 0;
	background-color: #333333;
	color: #EEEEEE;
	font-family: Helvetica, sans-serif;
}
MAIN {
	position: absolute;
	padding: 16px;
	text-align: center;
	border: 1px solid #555555;
	top: 16px;
	left: 16px;
	right: 16px;
	bottom: 116px;
}
.sprite {
	background-image: url("/images/characters.gif");
	background-size: 384px 256px;
	height: 32px;
	width: 32px;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: -1;
	zoom: 200%;
	display: inline-block;
}
