HTML {
	margin: 0;
	padding: 0;
	background-color: blue;
}
.sprite {
	background-image: url("images/characters.gif");
	background-size: 384px 256px;
	height: 32px;
	width: 32px;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: -1;
	zoom: 200%;
	display: inline-block;
}
